body{
    font-family: 'Arima', cursive;
    padding-left: 2%;

}
h1{font-size: 50px; 
}
.orange-colour{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%
}   

section{ 
    display: flex;
padding: 50px;}
.hire-me{ 
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    border-radius: 5px;
    padding: 10px 50px;
    color: white;
    font-weight: 100;
}
.first-section{
background-image:();

}